.vscode/**
.vscode-test/**
.github/**
.gitignore
.gitattributes
out/test/**
out/**/*.map
src/**
scripts/**
docs/**
schemas/*.test.*
node_modules/**
package-lock.json
tsconfig.json
eslint.config.mjs
.vscode-test.mjs
demo/**
img/**
demo.zip
publish.sh
